.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: $box-shadow-15rem-15;
    transition: transform .3s;


    &__img{
        display: inline;
        height: 50%;
        width: 50%;
        padding-bottom: 5%;

        
}

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to bottom, $color-new, $color-new-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scaleX(1.03);
    }

    // &__text {}


}